.error {
    width: 200px;
    border: 1px solid #8080808a;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    padding: 40px 55px;
    background-color: #8080801f;
    margin-top: 88px;

}