.home-conteiner {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.product-info {
    margin-right: 20px;
    margin-top: 25px;
    padding-left: 95px;
}

.product-img {
    width: 620px;
}

.product-img img {
    max-width: 100%;
}

.review-conteiner {
    width: 85%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 100px;
}

.review-conteiner h2 {
    padding-bottom: 20px;
    text-align: center;
    font-family: arial;
    font-weight: 600;
    font-size: 28px;
    color: #5c5b5b;
    border-bottom: 3px solid #022dfd75;
}

button.seeAllBtn {
    padding: 10px 28px;
    border: none;
    border-radius: 6px;
    background-color: #00adff70;
    margin-left: 22px;
    margin-top: 25px;
    font-family: arial;
    font-weight: 600;
    font-size: 14px;
    color: #1e00c1b3;
    transition: .4s;
}

button.seeAllBtn:hover {
    color: #1d00c1dc;
    background-color: #00aeffa9;
}