.home-conteiner {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.product-info {
    margin-right: 20px;
    margin-top: 25px;
    padding-left: 95px;
}

.product-img {
    width: 620px;
}

.product-img img {
    max-width: 100%;
}