.home-conteiner {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.product-info {
    margin-right: 20px;
    margin-top: 25px;
    padding-left: 95px;
}

.product-img {
    width: 620px;
}

.product-img img {
    max-width: 100%;
}

.review-conteiner {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}

.review-conteiner h2 {
    padding-bottom: 20px;
    text-align: center;
    font-family: arial;
    font-weight: 600;
    font-size: 28px;
    color: gray;
    border-bottom: 3px solid #022dfd75;
}